service: "${env:PROJECT_NAME}-ingesta"

provider:
  name: "aws"
  runtime: "python3.13"
  memorySize: 512
  timeout: 20
  iam:
    role: "arn:aws:iam::${env:AWS_USER_ID}:role/LabRole"
  environment:
    PROJECT_NAME: "${env:PROJECT_NAME}"
    STAGE: "${env:STAGE}"

custom:
  pythonRequirements: {}

functions:
  export_users:
    handler: "functions/export_users.handler"

  export_orders:
    handler: "functions/export_orders.handler"

  export_catalog:
    handler: "functions/export_catalog.handler"
